body {
    font-family: Arial, sans-serif;
    background-color: #f7f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f7eecc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

h1 {
    color: #103e15;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #61a876;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#0bee4f;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
